**/node_modules
**/data.json
**/.DS_Store
**/.venv
**/__pycache__
**/.vscode
**/instance
**/database.db
terraform-bootstrap/.terraform
terraform-bootstrap/terraform.tfstate
terraform-bootstrap/.terraform.tfstate.lock.info
terraform-bootstrap/terraform.tfstate.backup
