**/node_modules
**/data.json
**/.DS_Store
**/.venv
**/__pycache__
**/.vscode
**/instance
**/database.db
terraform-bootstrap/.terraform
terraform-bootstrap/terraform.tfstate
terraform-bootstrap/.terraform.tfstate.lock.info
terraform-bootstrap/terraform.tfstate.backup
terraform-github-secrets/terraform.tfvars
terraform-github-secrets/.terraform
terraform-github-secrets/.terraform.lock.hcl
terraform-github-secrets/terraform.tfstate
.temp/terraform.tfstate
terraform-addons/.terraform
